.All {
    display: flex;
    flex-direction: column;
}

.All h1{

    font-size: 4.1rem;
    margin-top: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: chocolate;
}
.All h2{
    font-size: 2rem;
    text-align: center;
    color: rgba(214, 146, 57 , 0.945);
    margin-top: 2rem;
    

}
 
.All h3{
    font-size: 1.7rem;
    text-align: center;

    font-weight:300;
    color: rgba(214, 146, 57, 0.945);
}
.inputs {
    display: flex;
    
    flex-direction: column; 
    align-items: center;
    background-color: rgba(245, 245, 245, 0.527);
    width:30vw;
    height:55vh;
    margin-left: 33.5vw;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 5vh;
    
}
.inputs input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    text-align: center;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    height:6vh;
  }

.inputs p{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin: 2rem;
    color:  rgba(214, 146, 57, 0.514) 
    
}

.inputs button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    text-align: center;
    background: rgba(210, 105, 30, 0.623);
    width: 50%;
    border-radius: 40px;
    border: 0;
    margin: 2vh;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .inputs button:hover,.form button:active,.form button:focus {
    background: chocolate;
  }