body{
    background-color: bisque;
}
.all{
    padding: 1rem;
}
@media screen and ( max-width: 720px){
    .all h1{
        font-size: 40px;
    }
    .all th{
        font-size: 15px !important;
    }
    .all td{
        font-size: 10px !important;
    }
    .table{
        width: 100% !important;
    }
}
@media screen and ( max-width: 520px){
    .all h1{
        font-size: 25px! important;
        margin: auto !important;
    }
}
.all th {
    color: gray ;
    text-align: center;
    font-size: 1.5rem;  
    }
a:hover{
 color: chocolate;
text-decoration: none; 
    }
.all tr {
       
 color:chocolate;
 font-size: 1.2rem;      
        }
        
.all td{
       
color:gray;
font-size: 1rem;   
 text-align: center;  
    }
    .all h1{
        font-size: 2.5rem;
        color: gray
    }
            